body {background-color:black}




/* Navigation Bar CSS */
.Nav_top{
    overflow: hidden;
    
}

.nav_left{

    width: 30px;
    height: 30px;
    padding:14px 16px;
    float: left;
}


.nav_right ,a  {
    color: aliceblue;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
    font-size: 17px;
    float: right;
}



.nav_right, a:hover{
    color: rgb(71, 246, 48);
}

.nav_left{
    color: rgb(71, 246, 48);
}


/** Name Styling CSS **/
.Name_First {
    text-align: center;
    color: aliceblue;

}

.fname{
    float: left;
    margin-left: 80px;
    font-size: 60px;
    font-family: "Audiowide";
    color: Hex #939597;
}

.discription{
    float: left;
    padding-left: 350px;
    font-size: 20px;
    display: flex;
    color: Hex #939597;
}

/** about style**/
.About_Container{
    margin: 500px 500px 500px 250px ;
    background-color: lightgrey;
    width: 1000px;
    height: 200px;
    text-align: center;
    border: 2px solid rgba(142, 106, 40, 0.447);
    border-radius: 15px;
    padding: 50px 50px 50px 50px;
}
.About_Exp{
    text-align: justify;
    font-size: 1em;
}
.About_Move{
    font-size: 3em;
}

/**Project style**/
.Project_Container{
    margin: 500px 500px 500px 500px ;
    text-align: center;
    padding: 50px 50px 50px 50px;
}









